.places .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  width: 390px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.places article h2 {
  font-size: 30px;
  text-align: center;
}
